<% content_for :page_title, t('views.edit.title', resource: User.model_name.human) %>

<div class="row mt-3">
  <div class="col-md-11">
    <h1><%= "#{t('views.actions.edit')} #{User.model_name.human(count: 1)}" %></h1>
  </div>
  <div class="col-md-1">
    <%= link_to t('views.actions.show'), @user,
      class: 'btn btn-sm btn-outline-primary' %>
  </div>
</div>

<%= render 'form', user: @user %>
