<% content_for :page_title, t('views.actions.new', resource: User.model_name.human) %>

<div class="row mt-3">
  <div class="col-md-11">
    <h1><%= "#{t('views.actions.new')} #{User.model_name.human(count: 1)}" %></h1>
  </div>
</div>

<%= render 'form', user: @user %>
