<%% content_for :page_title, I18n.t('views.edit.title', resource: <%= class_name %>.model_name.human) %>
<%% content_for :actions do %>
  <%%= link_to(I18n.t('views.actions.show'), @<%= singular_table_name %>,
    class: 'btn btn-sm btn-outline-secondary')
    .concat(link_to(I18n.t('views.actions.back'), <%= index_helper %>_path,
    class: 'btn btn-sm btn-outline-secondary')) %>
<%% end %>

<%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>
